.ime {
    background-image: url(im6.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ima {
    background-image: url(im4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.imo {
    background-image: url(im8.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
