*
{
    margin: 0px;
    padding: 0px;
}

#task
{
    display : inline-block;
    text-align: justify;
    width: 500px;
    height : 280px;
    border : solid;
    border-radius : 3px;
    color: rgb(4, 9, 56);
    box-shadow: 12px 12px 3px 3px rgba(0,0,255, 0.2);
}

#close
{
    margin-left : 130px;
}